<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <h1 class="fs-4 text-center">
                    Validador de CNPJ
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p>
            Para fazer a validação de CNPJ digite o no campo de texto
            e clique em "Validar".
            Abaixo irá mostrar se é o CNPJ é válido ou não.
        </p>
    </div>
</div>

<hr>

<form class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="row gy-2">
                    <div class="col-12">
                        <label for="txt-cnpj" class="form-label">Digite o CNPJ</label>
                        <input type="text" class="form-control text-center" id="txt-cnpj" maxlength="18" name="txt-cnpj"
                            placeholder="00.000.000/0000-00" [(ngModel)]="cnpj" cnpj-mask>
                    </div>

                    <div class="col-12">
                        <input type="button" class="btn primary-button w-100" value="Validar" (click)="validate()" />
                    </div>

                    @if (this.result) {
                    <div class="col-12">
                        <p id="lbl-resultado" class=" fs-4 text-center m-0" [style]="style">
                            {{result}}
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<!-- <hr> -->

<!-- <div class="texto-explicativo">
    <h4 class="fw-bold text-center mb-3">Algoritmo para Validação do CNPJ</h4>
    <p>
        Para validar um CNPJ, primeiro é importante entender sua estrutura. Um CNPJ é composto por três
        partes: a inscrição principal, o número de filiais e os dígitos verificadores. A validação oficial
        do CNPJ envolve também o cálculo de um oitavo dígito, mas algumas empresas possuem números que,
        quando validados dessa maneira, são considerados inválidos. Portanto, é mais seguro validar apenas
        os dígitos verificadores, garantindo que nenhum CNPJ seja considerado inválido.
    </p>

    <h5 class="text-center mb-3">Passo 1: Validando os Dígitos Verificadores</h5>
    <p>
        Vamos calcular os dígitos verificadores de um CNPJ hipotético, como por exemplo, 76.071.808/0001-XX.
        Multiplicamos cada dígito pelo peso correspondente, conforme mostrado abaixo:
    </p>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" style="width: 33.3333%;">Dígitos CNPJ</th>
                <th scope="col" style="width: 33.3333%;">Pesos</th>
                <th scope="col" style="width: 33.3333%;">Resultado</th>
            </tr>
        </thead>
        <tbody id="corpo-primeiro-digito">
        </tbody>
    </table>

    <p id="resultado-soma-primeiro-digito">
    </p>
    <p id="resultado-modulo-primeiro-digito">
        Agora, dividimos a soma pelo número 11.
    </p>
    <p id="primeiro-digito">
        Se o resto for menor que 2 ou 10, o dígito verificador é 0; caso contrário, subtraímos o resto de 11
        para
        obter o dígito. Nesse caso, o primeiro dígito verificador é
    </p>

    <h5 class="text-center mb-3">Passo 2: Validando o Segundo Dígito Verificador</h5>
    <p>
        Agora, temos o primeiro dígito calculado, e o CNPJ fica como 11.222.333/0001-8X. Para calcular o segundo
        dígito verificador, repetimos o processo, mas com uma sequência de multiplicadores ligeiramente
        diferente.
    </p>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" style="width: 33.3333%;">Dígitos CNPJ</th>
                <th scope="col" style="width: 33.3333%;">Pesos</th>
                <th scope="col" style="width: 33.3333%;">Resultado</th>
            </tr>
        </thead>
        <tbody id="corpo-segundo-digito">
        </tbody>
    </table>

    <p id="resultado-soma-segundo-digito">
    </p>
    <p id="resultado-modulo-segundo-digito">
        Agora, dividimos a soma pelo número 11.
    </p>
    <p id="segundo-digito">
        Se o resto for menor que 2 ou 10, o dígito verificador é 0; caso contrário, subtraímos o resto de 11
        para
        obter o dígito. Nesse caso, o primeiro dígito verificador é
        <script>injetarDigito(false, "segundo-digito")</script>.
    </p>
    <p id="cnpj">
        Assim temos 76.071.808/0001-21
    </p>
</div> -->
