<div class="row gy-3">
    <div class="col-12">
        <label for="txt-info" class="form-label">Insira o texto aqui:</label>
        <textarea id="txt-info" class="form-control" rows="15" (input)="onInputTextArea($event)"></textarea>
    </div>

    <div class="col-12 col-sm-8 col-lg-6 col-xl-4">
        <label for="txt-search" class="form-label">Buscar por:</label>
        <input type="text" id="txt-search" class="form-control" (input)="onInputSearchValue($event)">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="chk-case-sensitive" (change)="onChangeCheckBox($event)">
            <label class="form-check-label" for="chk-case-sensitive">
                Diferenciar maiusculas e minusculas
            </label>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Caracteres: {{caracteres}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Caracteres sem espaços: {{caracteresWithoutWhiteSpace}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Espaços: {{whiteSpace}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Espaços: {{whiteSpace}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Vogais: {{vowels}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Números: {{numbers}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Palavras: {{words}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Palavras: {{phrases}}
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Procurado: {{searchedFor}}
            </div>
        </div>
    </div>
</div>