<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <h1 class="fs-4 text-center">Contador de Letras</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p>
            Escreva ou cole o texto da caixa de texto e abaixo terá uma lista de valores contabilizados.
            Para procurar algo mais específico, digite o que está procurando no campo "Buscar por".
            Por padrão o contador de letras não diferencia maiúsculas de minúsculas, 
            portanto tem uma opção abaixo para o contador de letras diferenciar.
        </p>
    </div>
</div>

<hr>

<div class="row gy-3">
    <div class="col-12">
        <label for="txt-info" class="form-label">Insira o texto aqui:</label>
        <textarea id="txt-info" class="form-control" rows="15" (input)="onInputTextArea($event)"></textarea>
    </div>

    <div class="col-12 col-sm-8 col-lg-6 col-xl-4">
        <label for="txt-search" class="form-label">Buscar por:</label>
        <input type="text" id="txt-search" class="form-control" (input)="onInputSearchValue($event)">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="chk-case-sensitive" (change)="onChangeCheckBox($event)">
            <label class="form-check-label" for="chk-case-sensitive">
                Diferenciar maiusculas e minusculas
            </label>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Caracteres: {{caracteres}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Caracteres sem espaços: {{caracteresWithoutWhiteSpace}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Espaços: {{whiteSpace}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Consoantes: {{consonant}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Vogais: {{vowels}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Números: {{numbers}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Palavras: {{words}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Frases: {{phrases}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="card my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Procurado: {{searchedFor}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
