@*@page "/converters"*@
@layout MainLayout

<div class="col sidebar mt-2 pt-1">
    <a href="/Conversors/DateTimeConverters">Conversão de horas</a>
</div>

<div class="content mt-2 pt-1 ms-2 col-9">
    Conversores
</div>