@page "/converters"
@layout InitialPageSectionLayout

<div class="p-2 text-light">
    <h4 class="text-center fw-bolder">
        Ferramentas de conversão
    </h4>
    <p>
        Nesta seção, você encontrará uma variedade de ferramentas de conversão de dados, projetadas para facilitar o trabalho de transformar informações de um formato para outro.
    </p>
    <p>
        Seja para converter valores de tempo em horas decimais, medir distâncias em diferentes unidades ou converter números entre diferentes sistemas de numeração, nossas ferramentas de conversão de dados foram projetadas para tornar essas tarefas mais fáceis e rápidas.
    </p>
    <p>
        Além disso, oferecemos opções de conversão para diversos tipos de informações, como moedas, temperatura, peso, volume, entre outros. 
        Com nossas ferramentas, você pode economizar tempo e esforço ao lidar com diferentes formatos de dados, permitindo que você se concentre em outras tarefas importantes em seus projetos.
    </p>
    <p>
        Então, se você precisa de ajuda para converter informações de um formato para outro, da uma ollhada em nossa lista abaixo das ferramentas de conversão e descubra tudo o que podemos oferecer para tornar seu trabalho mais fácil e produtivo. 
        E o melhor de tudo: nossas ferramentas são gratuitas e fáceis de usar!
    </p>
    <ul>
        <li>
            <a href="./converters/date-time-converters">Conversor de horas</a>
        </li>
    </ul>
</div>