@page "/converters"
@layout InitialPageSectionLayout

<div class="p-2 text-light">
    <h4 class="text-center fw-bolder">
        Ferramentas para conversão de dados
    </h4>
    <hr style="background-color: white; height: 3px; border-radius: 5px 5px 5px 5px;" />
    <p>
        Esta seção contém diversos conversores de todo tipo de informação.
    </p>
    <p>
        Segue a lista abaixo:
    </p>
    <ul>
        <li>
            <a href="./converters/date-time-converters">Conversor de horas</a>
        </li>
    </ul>
</div>