@page "/"
@layout InitialPageSectionLayout

<div class="p-2">
    <h3 class="text-center fw-bolder">Uma caixa de ferramentas para desenvolvedores</h3>
    <p>
        Que tal ter acesso a uma série de ferramentas para desenvolvedores em um só lugar?
        Nosso site foi criado pensando em estudantes e profissionais que buscam aprimorar suas habilidades e práticas.
        Oferecemos diversas funcionalidades, incluindo um conversor de horas, validador de documentos e gerador de números de CPF, CNPJ, inscrição estadual e muito mais.
    </p>
    <p>
        Com nosso conversor de horas, você pode transformar facilmente um valor de tempo expresso em horas, minutos e segundos em um formato decimal.
        Já o validador de documentos permite verificar se um número de CPF, CNPJ ou inscrição estadual é válido e está de acordo com as regras de formação desses documentos.
        E com nosso gerador de números, você pode criar números aleatórios ou personalizados para esses documentos e outros fins.
    </p>
    <p>
        Não perca mais tempo buscando por essas ferramentas em diferentes sites.
        Com nosso site, você tem acesso fácil e rápido a todas elas, facilitando sua vida e permitindo que você se dedique mais ao seu trabalho e estudos.
        Experimente agora mesmo!
    </p>
</div>