@page "/"
@layout MainLayout

<div class="content mt-2">
    <div class="p-2 text-light">
        <h3 class="text-center fw-bolder">Uma caixa de ferramentas para desevolvedores</h3>
        <hr style="background-color: white; height: 3px; border-radius: 5px 5px 5px 5px;" />
        <p>
            Página com uma série de ferramentas para desenvolvedores e desenvolvida para estudo e prática, 
            como conversor de horas, validador e gerador de númerops de documentos (CPF, CNPJ, inscrição estadual e etc..).
        </p>
    </div>
</div>