@page "/utilities/sql-formatter"
@layout MainLayout
@inherits ComponentBase
@inject IJSRuntime JSRuntime

<RadzenPanel>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Stretch">
        <div class="w-100">
            <RadzenText Text="Insira o script SQL aqui:" TextStyle="TextStyle.H6" />
            <RadzenTextArea @bind-Value=@_sql class="w-100" Style="height: 450px;" />
        </div>
        <div class="w-100">
            <RadzenText Text="Script SQL indentado:" TextStyle="TextStyle.H6" />
            <RadzenTextArea @bind-Value=@_formattedSql class="w-100" Disabled="true" Style="height: 450px;" />
        </div>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" class="my-3">
        <RadzenButton Text="Formatar" Click=OnClickFormatButton />
        <RadzenButton Text="Copiar" Click=OnClickCopyButton />
        <RadzenButton Text="Limpar" Click=OnClickClearButton />
    </RadzenStack>


</RadzenPanel>