<form class="row gy-3">
    <div class="col-12">
        <div class="row gy-2 align-items-end">
            <div class="col-12 col-lg-6 col-xl-8">
                <label class="form-label" for="txt-key">Chave</label>
                <input type="text" id="txt-key" name="txt-key" class="form-control" [(ngModel)]="key">
            </div>
    
            <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
                <button type="button" class="btn primary-button w-100" (click)="onClickEncrypt()">
                    Criptografar
                </button>
            </div>
    
            <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
                <button type="button" class="btn primary-button w-100" (click)="onClickDecrypt()">
                    Descriptografar
                </button>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row gy-2">
            <div class="col-12 col-md-6">
                <label for="txt-encrypted" class="form-label">Criptografado</label>
                <textarea name="txt-encrypted" id="txt-encrypted" class="form-control" rows="5" [(ngModel)]="encrypted"></textarea>
            </div>

            <div class="col-12 col-md-6">
                <label for="txt-decrypted" class="form-label">Descriptografado</label>
                <textarea name="txt-decrypted" id="txt-decrypted" class="form-control" rows="5" [(ngModel)]="decrypted"></textarea>
            </div>
        </div>
    </div>
</form>