<div class="row"></div>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <h1 class="fs-4 text-center">Removedor de Acentuação</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p>
            Para utilizar o removedor de acentuação escreva ou cole algum texto no campo "Texto"
            e clique em "Remover" que o resultado irá ser mostrado no último campo abaixo.
        </p>
    </div>
</div>

<form class="row gy-2">
    <div class="col-12">
        <label for="txt-text" class="form-label">Texto</label>
        <textarea name="txt-text" id="txt-text" class="form-control" rows="20" [(ngModel)]="text"></textarea>
    </div>

    <div class="col-12">
        <button class="btn primary-button" (click)="onClick()">
            Remover
        </button>
    </div>

    <div class="col-12">
        <label for="txt-text" class="form-label">Resultado</label>
        <textarea name="txt-treated-text" id="txt-treated-text" class="form-control" rows="20"
            [(ngModel)]="treatedText"></textarea>
    </div>
</form>