<div class="row"></div>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <h1 class="fs-4 text-center">Gerador de CPF</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <p>
            A utilização do gerador de CPF é bem simples:
            Selecione a opção de CPF com máscara ou sem máscara e clique em "Gerar".
            Após isso irá aparecer a numeração do CPF na caixa de texto e ao lado tem um botão para copiar.
        </p>
        <p class="fs-6 fw-bold">
            A geração de CPF é par fins de teste e são gerados através de algoritmo próprio para isso,
            portanto nenhuma numeração é real.
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="row gy-2">
            <div class="col-12">
                <label for="txt-cpf" class="form-label m-0">CPF</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control text-center" placeholder="000.000.000-00" disabled [value]="cpf" />
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onClickCopy()">
                        <span class="material-symbols-outlined">
                            content_copy
                        </span>
                    </button>
                </div>
            </div>

            <div class="col-12">
                <input type="button" class="btn primary-button w-100" value="Gerar" (click)="onClickGenerate()" />
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbt-format" id="rbt-masked" [value]="1" [checked]="(masked == 1)" [(ngModel)]="masked">
                            <label class="form-check-label" for="rbt-masked">
                                Com máscara
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rbt-format" id="rbt-naked" [value]="0" [checked]="(masked == 0)" [(ngModel)]="masked">
                            <label class="form-check-label" for="rbt-naked">
                                Sem máscara
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>