@page "/converters"
@inherits LayoutComponentBase
@layout MainLayout

<div class="col sidebar mt-2">
    <a href="./converters/date-time-converters">Conversor de horas</a>
    <a href="./converters/data-converters">Conversor de dados</a>
</div>

<div class="col-9 content mt-2 ms-2 pt-2 pb-2">
    <div class="bg-light h-100" style="color: var(--primary);">
        @Body
    </div>
</div>