@inherits LayoutComponentBase

<RadzenComponents />

<div class="page">
    <header class="text-center">
        <RadzenPanel>
            <RadzenText TextStyle="TextStyle.H2">
                <a href="./">Dev Tools</a>
            </RadzenText>
        </RadzenPanel>
    </header>

    <RadzenStack Orientation=Orientation.Horizontal>
        <navbar class="mt-1">
            <RadzenPanelMenu Multiple=true Style="width:300px;">
                <RadzenPanelMenuItem Text="Conversores">
                    <RadzenPanelMenuItem Text="Tempo" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
@*                 <RadzenPanelMenuItem Text="Validadores">
                    <RadzenPanelMenuItem Text="CPF" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="CNPJ" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Geradores">
                    <RadzenPanelMenuItem Text="CPF" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="CNPJ" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Senhas" Path="/converters/date-time-converters"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem> *@
            </RadzenPanelMenu>
        </navbar>
        <main class="mt-1" style="height: 90vh;">
                @Body
        </main>
    </RadzenStack>
</div>