@inherits LayoutComponentBase

<RadzenComponents />

@* Para os links funcionarem deve conter o ponto no início. *@

<div class="container-md">
    <RadzenLayout>
        <RadzenHeader>
            <RadzenText TextStyle="TextStyle.H2" TextAlign="TextAlign.Center">
                <a href="./">Calculadora Dev</a>
            </RadzenText>
        </RadzenHeader>
        <RadzenSidebar class="mt-1">
            <RadzenPanelMenu Multiple=true>
                <RadzenPanelMenuItem Text="Conversores">
                    <RadzenPanelMenuItem Text="Tempo" Path="./converters/date-time-converters"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Validadores">
                    <RadzenPanelMenuItem Text="CPF" Path="./validators/cpf"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="CNPJ" Path="./validators/cnpj"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Utilitários">
                    <RadzenPanelMenuItem Text="Contador de letras" Path="./utilities/letter-counter"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Indentador de script SQL" Path="./utilities/sql-formatter"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Geradores">
                    <RadzenPanelMenuItem Text="CPF" Path="./generators/cpf"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="CNPJ" Path="./generators/cnpj"></RadzenPanelMenuItem>
                    @* <RadzenPanelMenuItem Text="Senhas" Path="/generators/password"></RadzenPanelMenuItem> *@
                    @*<RadzenPanelMenuItem Text="Senhas" Path="/converters/date-time-converters"></RadzenPanelMenuItem> *@
                </RadzenPanelMenuItem>
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody class="pt-1 ps-1 pe-0">
            @Body
        </RadzenBody>
    </RadzenLayout>
</div>