@inherits LayoutComponentBase

<div class="page mt-2">
    <header class="row text-center text-light">
        <h2 class="p-2 fw-bold">
            <a href="/">Dev Tools</a>
        </h2>
        <div>
            <ul class="m-auto p-0">
                <li class="p-2 m-1">
                    <a href="./converters">Conversores</a>
                </li>
                <li class="p-2 m-1">
                    <a>Validadores</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="row text-light" style="height: 90vh;">
        @Body
    </main>
</div>