<header class="header">
    <div class="container">
        <h1 class="fs-3 header-page">
            <a [routerLink]="['./']">Dev Toolz</a>
        </h1>
    </div>
</header>

<div class="container">
    <div class="d-flex">
        <nav class="d-flex flex-column position-sticky top-0 start-0">
            <!-- <a [routerLink]="['./']" class="link-body-emphasis text-decoration-none header">
                <h1 class="fs-4 m-0 fw-bold">
                    Dev Toolz
                </h1>
            </a> -->

            <!-- <hr class="m-0" style="border: 3px var(--bs-body-bg) solid; opacity: 100%;"> -->

            <ul class="nav nav-pills flex-column mb-auto px-2">
                <li [class]="'nav-item ' + (this.router.url === '/conversores/tempo' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./conversores/tempo']" class="nav-link" aria-expanded="false">
                        Conversor de tempo
                    </a>
                </li>

                <hr>

                <li [class]="'nav-item ' + (this.router.url === '/geradores/cpf' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./geradores/cpf']" class="nav-link" aria-expanded="false">
                        Gerador de CPF
                    </a>
                </li>

                <li [class]="'nav-item ' + (this.router.url === '/geradores/cnpj' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./geradores/cnpj']" class="nav-link" aria-expanded="false">
                        Gerador de CNPJ
                    </a>
                </li>

                <hr>

                <li
                    [class]="'nav-item ' + (this.router.url === '/utilitarios/contador-letras' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./utilitarios/contador-letras']" class="nav-link" aria-expanded="false">
                        Contador de letras
                    </a>
                </li>

                <li
                    [class]="'nav-item ' + (this.router.url === '/utilitarios/contador-letras' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./utilitarios/csv-2-json']" class="nav-link" aria-expanded="false">
                        Converter CSV para JSON
                    </a>
                </li>

                <!-- <li [class]="'nav-item ' + (this.router.url === '/utilitarios/cryptografia' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./utilitarios/cryptografia']" class="nav-link" aria-expanded="false">
                        Criptografia
                    </a>
                </li> -->

                <hr>

                <li [class]="'nav-item ' + (this.router.url === '/validadores/cpf' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./validadores/cpf']" class="nav-link" aria-expanded="false">
                        Validador de CPF
                    </a>
                </li>

                <li [class]="'nav-item ' + (this.router.url === '/validadores/cnpj' ? 'nav-item-active' : '')">
                    <a [routerLink]="['./validadores/cnpj']" class="nav-link" aria-expanded="false">
                        Validador de CNPJ
                    </a>
                </li>
            </ul>
        </nav>

        <main class="container-fluid py-3">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>