// @import '/node_modules/bootstrap/scss/mixins';
// @import '/node_modules/bootstrap/scss/_functions.scss';
// @import '/node_modules/bootstrap/scss/variables';

$extra-small: 576px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1400px;

$nav-link-padding: 20px;

header {
    margin-bottom: 5px;
}

nav {
    background-color: var(--bs-secondary-bg);
    // border-right: 1px solid var(--second-background-color);
    margin-right: 5px;
    height: 100vh;
}

@media (max-width: 575px) {
    nav {
        height: 100vh;
        display: none !important;
    }
}

@media (min-width: 576px) {
    nav {
        height: 100vh;
        display: none !important;
    }
}

@media (min-width: 768px) {
    nav {
        height: 100vh;
        display: flex !important;
    }
}

@media (min-width: 992px) {
    nav {
        height: 100vh;
        max-width: 200px;
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    nav {
        height: 100vh;
        max-width: 250px;
        width: 100% !important;
    }
}

@media (min-width: 1400px) {
    nav {
        height: 100vh;
        // max-width: 300px;
        width: 100% !important;
    }
}

.header {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
    // font-family: "Courier New", monospace;
    padding: 0.15rem 1rem;
}

main {
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}

.header-page {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding-left: calc(20px * 0.25);
}

.nav-item-active {
    background-color: var(--primary-color);
}

.nav-item-active .nav-link {
    // color: var(--primary-color) !important;
    padding: 10px calc($nav-link-padding * 0.5) !important;
}

.nav-link {
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 2.5px !important;
    background-color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--primary-color) !important;
    font-weight: bold;
    padding: 10px calc($nav-link-padding * 0.5) !important;
}