fieldset.elist,
input[type="text"],
textarea,
select,
option,
fieldset.elist ul,
fieldset.elist>legend,
fieldset.elist input[type="text"],
fieldset.elist>legend:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}