<form class="row gy-2">
    <div class="col-12">
        <input type="file" class="file-upload" (change)="onChangeFileInput($event)" accept=".csv">

    </div>
    <div class="col-12">
        <textarea name="txt-csv-content" class="w-100" [(ngModel)]="csvContent"></textarea>
    </div>

    <div class="col-12">
        <button type="button" (click)="onClickConvert()">Converter</button>
    </div>

    <div class="col-12">
        <textarea name="txt-json-content" class="w-100" [(ngModel)]="jsonContent"></textarea>
    </div>


</form>