<div class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <h1 class="fs-4 text-center">
                    DevToolz
                </h1>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p>
            O DevToolz é um site com vária ferramentas para facilitar o dia a dia do desenvolvedor de software.
        </p>
    </div>
</div>

<hr>

<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">Conversor de tempo</h1>
                <p class="card-text">
                    Faça conversões de horas para minutos, segundos e número decimal.
                </p>
                <a [routerLink]="['./conversores/tempo']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col col-12 col-lg-6 col-sm-12">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Conversor de CSV para JSON
                </h1>
                <p class="card-text">
                    Converte formato CSV para o formato JSON.
                </p>
                <a [routerLink]="['./conversores/csv-2-json']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">Conversor de Sistemas Numéricos</h1>
                <p class="card-text text-truncate">
                    Página para conversão entre sistemas numéricos.
                </p>
                <a [routerLink]="['./conversores/sistemas-numericos']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Gerador de CPF
                </h1>
                <p class="card-text">
                    Gerador de número de CPF.
                </p>
                <a [routerLink]="['./geradores/cpf']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Gerador de CNPJ
                </h1>
                <p class="card-text">
                    Gerador de número de CNPJ.
                </p>
                <a [routerLink]="['./geradores/cnpj']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col col-12 col-lg-6 col-sm-12">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Contador de letras
                </h1>
                <p class="card-text">
                    Contagem de caracteres.
                </p>
                <a [routerLink]="['./utilitarios/contador-letras']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <!-- <div class="col col-12 col-lg-6 col-sm-12">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Criptografia
                </h1>
                <p class="card-text">
                    Criptografar e Descriptografar textos.
                </p>
                <a [routerLink]="['./utilitarios/cryptografia']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div> -->

    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Validador de CPF
                </h1>
                <p class="card-text">
                    Verifique se um CPF é válido.
                </p>
                <a [routerLink]="['./validadores/cpf']" class="btn primary-button">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title fs-5">
                    Validador de CNPJ
                </h1>
                <p class="card-text">
                    Verifique se um CNPJ é válido.
                </p>
                <a [routerLink]="['./validadores/cnpj']" class="btn primary-button ">
                    Acessar
                </a>
            </div>
        </div>
    </div>
</div>